.logo {
  font-family: 'Raleway',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: $title-text-color;
  text-decoration: none;
}

.logo__wrapper {
  color: $accent-text-color;
}

